@import './src/sass/_mixins.scss';
@import './src/sass/01-settings/_settings.scss';
@import './src/sass/04-elements/_elements.scss';
@import './src/sass/06-objects/_objects.scss';
@import './src/sass/03-components/_components.scss';



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}


textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    width: 100%;
}

.line{
    border-top: 1px solid black;
    width: 70%;
    margin: 0 auto;

    &--feature{
        width: 90%;
        border-top: 1px solid rgb(255, 255, 255);
    }

    &--feature-second{
        width: 90%;
        border-top: 1px solid black;
    }
}

.section-title{
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-30;
    font-weight: $font-weight-regular;
    letter-spacing: 13px;
    text-transform: uppercase;
    margin-top: 30px;

    &--features{
        color: $white;
        text-align: left;
        width: 50%;
        letter-spacing: 0.13em;
        line-height: 65px;
        margin: 20px 0;
    }

    &--complex{
        color: $dark-text;
        text-align: left;
        width: 50%;
        margin: 20px 0;

    }
}

.section-subtitle{
    text-align: center;
    margin: 20px 0;
    font-size: $font-size-16;
    font-weight: $font-weight-light;

    &--aboutus{
        font-size: $font-size-18;
    }
}

.inactive{
    display: none;
}

@include small-up{
    .section-title{
        font-size: $font-size-30;

        &--features{
            text-align: center;
            width: 100%;
            letter-spacing: 0.13em;
            line-height: 65px;
        }
    
        &--complex{
            color: $dark-text;
            text-align: center;
            width: 100%;
            letter-spacing: 0.13em;
            line-height: 65px;
        }

    }
    
    .section-subtitle{
        font-size: $font-size-25;
    }
}



@include medium-up{

    .section-title{
        font-size: $font-size-40;

        &--features{
            line-height: 75px;
        }
    }
}
