@import './src/sass/_mixins.scss';
@import './src/sass/01-settings/_settings.scss';
@import './src/sass/04-elements/_elements.scss';
@import './src/sass/06-objects/_objects.scss';
@import './src/sass/03-components/_components.scss';



*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}


textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.section-title{
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-44;
    font-weight: $font-weight-regular;
    letter-spacing: 13px;
    text-transform: uppercase;

    &--features{
        color: $white;
        padding-top: 60px;
    }
}

.section-subtitle{
    text-align: center;
    margin-bottom: 20px;
    font-size: $font-size-12;
    font-weight: $font-weight-light;
}

.inactive{
    display: none;
}