.about-us{
    padding: 20px;
}

.about-us-info-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &-text{
        text-align: center;
        font-weight: normal;
        font-size: $font-size-14;
        line-height: 26px;
        margin: 20px 0;
    }

    &-image{
        display: none;
        width: 100%;
        max-width: 500px;
        margin: 40px auto;
    }
}

.about-us-info-middle{
    margin: 40px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    margin-bottom: 20px;

    &-image{
        display: flex;
        justify-content: center;
        
        img{
            width: 70%;
            max-width: 200px;
        }
    }

    &-text{
        height: 50%;
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }
}

.details-signature{
    text-align: center;
    font-size: $font-size-18;
    line-height: 35px;
}

.details-position{
    margin-top: 10px;
    text-align: center;
    font-size: $font-size-14;
    line-height: 24px;
}

.about-us-info-bottom{
    width: 100%;
    text-align: center;
}

.bottom-text-title{
    font-size: $font-size-16;
}

.bottom-icons{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
        margin-bottom: 50px;
    }

    .card-image{
        display: flex;
        width: 70%;
        max-width: 250px;
    }
}

.icon-info{
    margin-top: 20px;
    text-align: center;
    font-size: $font-size-16;
    width: 80%;
}


@include small-up{

    .about-us-info-top-text{
        font-size: $font-size-18;
    }

    .about-us-info-middle{
        margin: 20px 0;
        flex-direction: row;
    }
    
    .details-signature{
        font-size: $font-size-21;
    }

    .details-position{
        font-size: $font-size-18;
    }

    .icon-info{
        width: 50%;
        font-size: $font-size-18;
    }
}

@include medium-up{

    .about-us-info-top{    
        &-text{
            font-size: $font-size-20;
            line-height: 35px;
        }
    }

    .about-us-info-middle{
        display: flex;
        justify-content: space-around;
        margin: 50px auto;
        max-width: 960px;
    }

    .details-signature{
        font-size: $font-size-21;
    }

    .details-position{
        font-size: $font-size-21;
    }

    .about-us-info-bottom{
        width: 100%;
        text-align: center;
    }
    
    .bottom-text-title{
        font-size: $font-size-30;
    }
    
    .bottom-icons{
        flex-direction: row;
        justify-content: space-around;
    }

    .bottom-icons-card{
        width: 33.3%;
    }

    .card-image{
            max-width: 300px;
    }
    
    .icon-info{
        font-size: $font-size-20;
        line-height: 35px;
        width: 80%;
    }
}
