.about-us-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.about-us-info-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.about-us-info{
    color: $dark-text;
    font-size: $font-size-14;
    line-height: 25px;
    padding: 20px;
}

.about-us-image-wrapper{
    display: flex;
    align-items: center;
    width: 40%;
}
.about-us-image{
    width: 100%;
}