.attributes-first{
    background-image: url('/src/img/vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    

    &__heading{
        text-transform: uppercase;
        line-height: 5rem;
        font-size: $font-size-4;
        color: $white;
        font-weight: $font-weight-medium;
        letter-spacing: 0.3rem;
    }

    &__border{
        border: 1px solid #ffffff;
        width: 80%;
        margin: 3% auto;
    }

   
}

.attributes-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}

.attributes-first-set{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 80%;
        margin: 5% 0;

    p{
        font-size: $font-size-10;
        color: $white;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
        display: inline-block;
    }
}

.circle{
    display: inline-block;
    width: 47px;
    height: 47px;
    border: solid 5px white;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top:0;
    left:0;
    margin-left: 10px;
}

@include small-up{

    .attributes-first-set{
        p{
            font-size: $font-size-7;
            text-transform: uppercase;
            font-weight: $font-weight-semibold;
        }
    }

    .circle{
        width: 80px;
        height: 80px;
        border: solid 10px white;
    }
}

@include medium-up{

    .attributes-box{
        width: 70%;
        
    }

    .attributes-first{
    
        &__heading{
            line-height: 5rem;
            font-size: $font-size-3;
            color: $white;
            font-weight: $font-weight-medium;
            letter-spacing: 0.3rem;
        }

    .attributes-first-set{
    
        p{
            font-size: $font-size-6;
            color: $white;
            text-transform: uppercase;
            font-weight: $font-weight-semibold;
        }
    }

    .circle{
        width: 90px;
        height: 90px;
        border: solid 10px white;
    }
}

}
