.btn {
    font-size: $font-size-9;
    padding: 5%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 8px;
    background: #5a99d400;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#0c0c0c, .5);
}