.header{
    color: $white;
}

.hero-img{
    position: relative;
    height: 104vh;
    background: url('/src/img/headersmall.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.hero-shadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.373);
    z-index: -10;
}

.hero-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 5;
    text-align-last: left;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.035em;
}

.rectangle{
    position: absolute;
    bottom: 35%;
    left: 10%;
    transform: translate(-10%, 30%);
    padding: 5px;
    width: 120px;
    border: 4px solid rgba(193, 193, 193, 0.5);
}

.header-section-title{
    position: relative;
    font-size: $font-size-25;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    line-height: 55px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.header-section-signature{
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: $font-weight-light;
    line-height: 40px;
    margin-left: 10px;
}

@include small-up{   
    .rectangle{
        padding: 5px;
        width: 200px;
        border: 4px solid rgba(193, 193, 193, 0.5);
    }
    
    .header-section-title{
        font-size: $font-size-30;
        text-transform: uppercase;
        font-weight: $font-weight-regular;
    }
    
    .header-section-signature{
        font-size: $font-size-20;
        line-height: 40px;

    }
}

@include medium-up{
    .rectangle{
        width: 240px;
    }
    
    .header-section-title{
        position: relative;
        font-size: $font-size-40;
        line-height: 85px;
        margin-bottom:30px;
        margin-left: 10px;
    }
    
    .header-section-signature{
        display: block;
        width: 100%;
        font-size: $font-size-25;
        font-weight: $font-weight-light;
        line-height: 50px;
    }
}
