.header{
    position: relative;
    background-image: url('/src/img/headersmall.jpg');
    height: 100vh;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -50px;

    &__bg{
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.22);
    }

    &__text{
        color: $white;
        position: absolute;
        top: 50%;
        left: 10%;
        border: 4px solid #C1C1C1;
        letter-spacing: 2px;
        width: 120px;
        line-height: 40px;
        padding: 10px;
    }

    &__title{
        margin-left: 10px;
        font-size: $font-size-21;
        margin-bottom: 40px;
        font-weight: $font-weight-regular;

    }

    &__signature{
        display: block;
        font-size: $font-size-16;
        margin-left: 10px;
        height: 100%;
        white-space: nowrap;
        font-weight: $font-weight-regular;

    }
}

@include medium-up{
    .header{
        position: relative;
        background-image: url('/src/img/headerbig.jpg');
        height: 100vh;

        &__bg{
            top: 0;
        }

        &__text{
            line-height: 60px;
            width: 205px;
        }

        &__title{
            margin-left: 10px;
            font-size: $font-size-40;
            margin-bottom: 40px;
        }
    
        &__signature{
            display: block;
            font-size: $font-size-25;
            margin-left: 10px;
            height: 100%;
            white-space: nowrap;
        }
    }
}

@include large-up{
    .header{
        position: relative;
        background-image: url('/src/img/headerbig.jpg');
        height: 100vh;
        background-position: center -250px;

    }
}