.container-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 100%;
    position: fixed;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px 10px rgba(117, 114, 114, 0.25);
    text-transform: uppercase; 
    text-align: center;
    

    &__logo{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__list{
        display: none; // Menu na mobilke
        width: 70%;
        list-style-type: none;
        font-size: $font-size-16;
    }

    &__social-media{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.logo__image{
    cursor: pointer;
    width: 70px;
}


.burger-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    background: none;
    border: none;
}

.list__item{
    padding: 0 20px;
}

.item__link{
    color: $dark-text;
}

.social-media__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.link__instagram{
    width: 40px;
}

.link__facebook{
    width: 40px;
}

@include medium-up{

    .burger-icon{
        display: none;
    }

    .menu__list{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .item__link{
        transition: color .3s ease 0s;

        &:hover{
        color: #09f;
        }
    }

}